h3[b-on6samu1v0] {
    text-align:center;
    margin-bottom:20px;
}
label[b-on6samu1v0]{
    margin-bottom:10px;
    margin-top:10px;
}
input[b-on6samu1v0]{
    border-radius:3px;
}
.login-button[b-on6samu1v0] {
    align-items: center;
    border-radius: 3px;
}
