@inherits LayoutComponentBase

<body>
    
    <div>
        @Body
    </div>
    <!--<div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="pagebody content px-4">
            @Body
        </div>
    </main>-->
</body>
